
{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
    .my-grid {
        border: 1px solid black;
    }
    .my-grid-item {
        border: 1px solid black;
    }
</style>
<div class="container">
    <div class="main d-none d-md-flex flex-column">
        <div class="card p-4">
            <div class="my-grid d-flex flex-row">
        <h3 class="my-grid-item m-auto">Welcome to the private chatting website!</h3>
    </div>

    <div class="my-grid d-flex flex-column mt-4">
        <h5 class="my-grid-item m-auto">Add your friends and start chatting!</h5>
            </div>
    <br><br><br><br>
        <div class="my-grid d-flex flex-column mt-4">
            <p class="my-grid-item m-auto">Github:</p>
            </div>
        </a>
    </div>
</div>

{% endblock content %}